<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
</head>
<body>
  <h1>Digite seu nome</h1>
  <form method="POST">
    <input type="text" name="nome" placeholder="Seu nome" required>
    <button type="submit">Enviar</button>
  </form>

  {% if mostrar %}
      <h1>Bem-vindo, {{ usuario or 'Usuário' }}!</h1>
      <ul>
          {% for tarefa in tarefas %}
              <li>{{ tarefa }}</li>
          {% else %}
              <li>Não há tarefas.</li>
          {% endfor %}
      </ul>
  {% else %}
      <!-- Formulário -->
  {% endif %}
  <a href="/sobre">Ir para Sobre</a>
</body>
</html>